@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
:root {
    -webkit-font-smoothing: antialiased;
    font-size: 1.8vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 90deg, #91ebeb, #b9eb6a);
}

h1 {
    font-size: 8.5ex;
    position: relative;
    top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 76);
}

h1>i {
    position: relative;
    margin-left: 0.8rem;
    width: 4rem;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: calcRotate;
}

@keyframes calcRotate {
    100% {
        transform: scale(1.3);
    }
}

button {
    width: 8rem;
    cursor: pointer;
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -3rem;
}

@keyframes caution {
    50% {
        transform: scale(1.1);
    }
}

#row1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 2rem;
}

#row2,
#row3,
#row4,
#row5 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 2rem;
}

div>button {
    margin: 1rem 0rem 0rem 0rem;
    border-radius: 0rem;
    border-style: solid;
    border-width: 1rem;
    border-color: black;
    border-radius: 1rem;
    background-color: aliceblue;
    width: 5rem;
    position: relative;
    color: #2196f3;
}

svg: div {
    width: max-content;
}

#input {
    display: block;
    text-align: left;
    padding: 0rem 0 0rem 2rem;
    border: 1px solid;
    background-color: rgb(243, 208, 207);
    height: 4.6rem;
    border-radius: 0.8rem;
    width: 14.5rem;
    position: relative;
    font-size: 1.7rem;
    right: -0.1rem;
    border: 1rem solid;
    top: 0.1rem;
    overflow: scroll;
    display: flex;
    align-items: center;
}

#input+svg {
    width: 4.9rem;
    height: 4.6rem;
    position: relative;
    top: 0.6rem;
    right: 0.2rem;
}