@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
 :root {
    -webkit-font-smoothing: antialiased;
    font-size: 1.8vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 90deg, #91ebeb, #b9eb6a);
}

h1 {
    font-size: 5rem;
    position: relative;
    top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1.2rem;
    color: rgb(255, 0, 200);
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2em;
}

#row1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 1rem;
    top: 3rem;
    margin-bottom: 1rem;
}

#row2,
#row3,
#row4,
#row5 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 2rem;
}

#inp {
    display: block;
    text-align: left;
    padding: 0rem 0 0rem 2rem;
    border: 1px solid;
    background-color: rgb(243, 242, 207);
    height: 4.7rem;
    border-radius: 1rem;
    width: 15rem;
    position: relative;
    font-size: 1.7rem;
    right: 0.1rem;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 4rem;
    width: 6rem;
    color: coral;
    border-radius: 2rem;
}

button:hover {
    background-color: rgb(138, 200, 230);
}