:root {
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg,
button {
    padding: 0px;
}

div {
    border-style: solid;
    border-color: aqua;
    width: max-content;
}

#layout {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

p {
    font-size: 16px;
    color: orange;
    opacity: 1;
    position: relative;
    left: 10px;
}

p .invalid {
    font-size: 16px;
    color: orange;
    opacity: 1;
}