:root {
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 90deg, #1bdada, #98ee0d);
}

h1 {
    position: relative;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1>svg {
    position: relative;
    margin-left: 0.8rem;
    width: 2rem;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: calcRotate;
}

@keyframes calcRotate {
    100% {
        transform: scale(1.3);
    }
}

svg {
    width: 2rem;
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 0.8rem;
    color: rgb(235, 12, 49);
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
}

@keyframes caution {
    50% {
        transform: scale(1.1);
    }
}

#row1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.3rem 0px 0.3px 0;
    border-radius: 20px;
}

button>svg {
    position: relative;
    padding: 0 23px;
    color: #2196f3;
}

button:hover>svg {
    color: goldenrod;
}

svg,
button {
    padding: 0px;
}

div {
    width: max-content;
}

input {
    height: 50px;
    border-radius: 15px;
    width: 270px;
    position: relative;
    font-size: 25px;
    border: 1px solid;
}

input::placeholder {
    position: relative;
    right: 20px;
    text-align: right;
    color: blue;
}

input+button {
    font-size: 25px;
    position: relative;
    left: 5px;
}