:root {
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

svg,
button {
    padding: 0px;
}

div {
    border-style: solid;
    border-color: aqua;
    width: max-content;
}

#layout {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#row1>input {
    font-size: 20px;
}