@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
:root {
    -webkit-font-smoothing: antialiased;
    font-size: 1.8vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 90deg, #91ebeb, #b9eb6a);
}

h1 {
    font-size: 8ex;
    position: relative;
    margin-top: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 76);
}

h1>svg {
    position: relative;
    margin-left: 0.8rem;
    width: 4rem;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: calcRotate;
}

@keyframes calcRotate {
    100% {
        transform: scale(1.3);
    }
}

svg {
    width: 2rem;
}

#layout {
    border-style: dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -3rem;
}

@keyframes caution {
    50% {
        transform: scale(1.1);
    }
}

#row1,
#row2,
#row3 {
    position: relative;
    border-style: dotted;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>svg {
    margin: 0rem 1rem 0rem 0;
    border-radius: 1rem;
    background-color: aliceblue;
    width: 5.5rem;
    position: relative;
    color: #2196f3;
}

div>svg :hover {
    color: goldenrod;
}

svg,
button {
    padding: 0;
}

div {
    width: max-content;
}

#input {
    display: block;
    line-height: 3rem;
    text-align: left;
    padding: 0rem 0 0rem 2rem;
    border: 1px solid;
    background-color: rgb(243, 208, 207);
    height: 3.25rem;
    border-radius: 0.8rem;
    width: 15.7rem;
    position: relative;
    font-size: 1.8rem;
    right: 0.25rem;
    border: 0.1rem solid;
    top: 0.8rem;
}

#input+button {
    font-size: 1rem;
    position: relative;
    top: 0.75rem;
    left: 0.2rem;
}