@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
:root {
    -webkit-font-smoothing: antialiased;
    font-size: 1.8vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 90deg, #91ebeb, #b9eb6a);
}

h1 {
    position: relative;
    margin-top: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1>svg {
    position: relative;
    margin-left: 0.8rem;
    width: 2rem;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: calcRotate;
}

@keyframes calcRotate {
    100% {
        transform: scale(1.3);
    }
}

svg {
    width: 2rem;
}

#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -1rem;
}

p {
    font-size: 0.83rem;
    color: rgb(235, 12, 49);
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    font-weight: bold;
}

p>span {
    margin: 0.5rem 0rem;
}

@keyframes caution {
    50% {
        transform: scale(1.1);
    }
}

#row1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.3rem 0 0.3rem 0;
    border-radius: 1rem;
    background-color: aliceblue;
}

button>svg {
    width: 3rem;
    position: relative;
    padding: 0 1.15rem;
    color: #2196f3;
}

button:hover>svg {
    color: goldenrod;
}

svg,
button {
    padding: 0;
}

div {
    width: max-content;
}

input {
    height: 3rem;
    border-radius: 0.8rem;
    width: 17rem;
    position: relative;
    font-size: 1.1rem;
    right: 0.2rem;
    border: 0.1rem solid;
}

input::placeholder {
    position: relative;
    right: 1rem;
    text-align: right;
    color: blue;
}

input+button {
    font-size: 1rem;
    position: relative;
    left: 0.2rem;
}